/* #ff4554
#F8F8FF
#00c3e3
#ffce26
#2cb457
#ff6714 */
/* ============================================================
CSS RESET
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============================================================
END CSS RESET
============================================================ */

/* ============================================================
SMOOTH SCROLL (WHEN YOU CLICK "BACK TO TOP" LINK/BUTTON)
============================================================ */
html {
	scroll-behavior: smooth;
}
/* ============================================================
END SMOOTH SCROLL
============================================================ */

/* ============================================================
GRID
============================================================  */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.container,
.grid {
	margin: 0 auto;
	width: 960px;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3,
.col-2-3 {
	display: inline-block;
	vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
	padding-left: 15px;
	padding-right: 15px;
}

/* ============================================================
END GRID
============================================================  */

/* ============================================================
TYPOGRAPHY
============================================================  */
h1, h3, h4, h5, p {
	margin-bottom: 25px;
}
/* ============================================================
END TYPOGRAPHY
============================================================  */

/* ============================================================
LEADS
============================================================  */
.lead {text-align: center;}
.lead p {
	font-size: 25px;
	line-height: 30px;
}
/* ============================================================
END LEADS
============================================================  */

/* ============================================================
BUTTONS
============================================================  */
.btn {
	color: #F8F8FF;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
	display: inline-block;
	border-radius: 17px 3px;
	margin: 0;
}

.btn-alt {
	border: 1.5px solid #C3C0AD;
	padding: 10px 30px;
}
/* ============================================================
END BUTTONS
============================================================  */

/* ============================================================
HOME PAGE
============================================================  */
.hero {
	color: #F8F8FF;
	line-height: 45px;
	padding: 25px 80px 66px 80px;
	text-align: center;
}

.hero h2 {font-size: 35px;}

.hero p {
	font-size: 24px;
	font-weight: 100;
}
/* ============================================================
END HOME PAGE
============================================================  */

/* ============================================================
ROBOTS - robots.html
============================================================  */
.robot {margin-bottom: 45px;}

.robot-info {
	border: 1px solid #D3D3D3;
	border-radius: 17px 3px;
	margin-top: 85px;
	padding-bottom: 20px;
	text-align: center;
}

.robot-info img {
	border-radius: 50%;
	border-radius: 17px 3px;
	height: 140px;
	margin: -65px 0 17px 0;
	vertical-align: top;
}
/* ============================================================
END ROBOTS
============================================================  */

/* ============================================================
CLEARFIX
============================================================  */
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	clear: both;
	*zoom: 1;
}
/* ============================================================
END CLEARFIX
============================================================  */

/* ============================================================
ROWS
============================================================  */
.row,
.row-alt {
	min-width: 360px;
}

.row {
	background: #F8F8FF;
	padding: 55px 0 45px 0;
}

.row-alt {
	background: #d2ff52;
	background: -webkit-linear-gradient(to right, #d2ff52, #2cb457);
	background: -moz-linear-gradient(to right, #d2ff52, #2cb457);
	background: -o-linear-gradient(to right, #d2ff52, #2cb457);
	background: linear-gradient(to right, #d2ff52, #2cb457);
	padding: 45px 0 20px 0;
}
/* ============================================================
END ROWS
============================================================  */

/* ============================================================
MAIN HEADER
============================================================  */
.logo {
	font-size: 50px;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 45px;
	float: left;
	border-top: 4px solid #00C3E3;
	padding: 40px 0 22px 0;
	text-transform: uppercase;
}

/* class="tagline" In header H3 Element */
.tagline {
	text-align: right;
	margin: 65px 0 20px 0;
}

/* class="primary-nav" In header NAV Element */
.primary-nav {
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .81px;
}
/* ============================================================
END MAIN HEADER
============================================================  */
.primary-header a,
.primary-footer a {
	color: #F8F8FF;
}
.primary-header a:hover,
.primary-footer a:hover {
	color: #2CB457;
}
/* ============================================================
MAIN FOOTER
============================================================  */
.primary-footer {
	color: #648880;
	font-size: 15px;
	padding-bottom: 45px;
	padding-top: 45px;
}

.primary-footer small {
	float: left;
	font-weight: 500;
}

/* ============================================================
END MAIN FOOTER
============================================================  */

/* ============================================================
CUSTOM STYLING
============================================================  */
body {
	background: #2F404F;
	color: #808080;
	font: 200 15px/22.5px "Lato", "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
}

h1, h2, h3, h4 {color: #2CB457;}

h1 {
	font-size: 35px;
	line-height: 40px;
}

h2 {
	font-size: 25px;
	line-height: 40px;
}

h3 {font-size: 21px;}

h4 {font-size: 18px;}

h5 {
	color: #FF6417;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

strong {font-weight: 400;}

cite, em {
	font-style: italic;
}
/* ============================================================
END CUSTOM STYLING
============================================================  */

/* ============================================================
LINKS STYLING
============================================================  */
a {
	color: #FF6417;
	text-decoration: none;
}

a:hover {color: #00C3E3;}

p a {
	border-bottom: 1px solid #808080;
}

/* Since Menu/Teaser <h3> and <h5> elems are wrapped by anchor elems, this fixes the hover */
.teaser a:hover h3 {color: #00C3E3;}

/* Home Page Image Styling */
.teaser img {
	display: block;
	margin-bottom: 25px;
	border-radius: 17px 3px;
	max-width: 100%;
}
/* ============================================================
END LINKS STYLING
============================================================  */

/* ============================================================
NAV
============================================================  */
.nav {text-align: right;}

.nav li {
	display: inline-block;
	margin: 0 25px;
	vertical-align: top;
}

.nav li {margin-right: 0;}
/* ============================================================
END NAV
============================================================  */
